/**
 * Basic
 */

.customjs {
  position: relative;
  overflow: hidden;
  padding: 12px 24px;
  width: 548px;
  height: 570px;
  color: #4A4A4A;
  font-size: 14px;
  font-family: sans-serif;
}

.customjs.customjs--error {
  width: 400px;
  height: 75px;
}

.customjs.customjs--error form {
  display: none;
}

a,
a:hover,
.blue-text,
.blue-text:hover {
  color: #0F14F3;
}

.red-text,
.red-text:hover {
  color: #f10000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.is-hidden {
  display: none;
}

.pure-g {
  padding: 10px 0;
}

/**
 * Host row (up)
 */

.host {
}

.host__name select {
  min-width: 220px;
}

.host__name a {
  margin-left: 5px;
  font-size: 12px;
}

.host__enable {
  text-align: right;
  line-height: 34px;
}

.host__enable input {
  position: relative;
  bottom: -2px;
  margin-left: 2px;
}

/**
 * Source row  (middle)
 */

.source {
}

.source__editor {
  border: 1px solid #EBEBEB;
}

.source__editor pre {
  margin: 0;
  min-height: 380px;
  width: 100%;
  line-height: 150%;
}

/**
 * Controls
 */

.controls {
}

.controls__save,
.controls__reset {
  margin-right: 10px;
  font-size: 18px;
}